extend layout
block content
	p
		| AAAAAAAAAAAAAAAAAAAAAAAAAA
		| BBBBBBBBBBBBBBBBBBBBBBBBBB
		| CCCCCCCCCCCCCCCCCCCCCCCCCC
	p
		| WHAT
		| EVER
		| THE
		| FUCK
		| AM
		| DOING
block sidebar
	.widget
		h1 widget
		p
			| WHUTS DIS
			| SHIT
		