html
	head
		title #{title} - OTP Validator
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			h1 OTP Validator
		.container
			.main-content
				block content
			.sidebar
				block sidebar
		footer
			p Project for Information Security course 2013
