extend layout
block content
	p Introduce username and generated key
	from
		key Username
			input(type="text", name="name", placeholder="name")
		key Key
			input(type="text", name="key", placeholder="key")
block sidebar
	.widget
		h1 Other
		a.link(href="/register") register
			
